---
---
/* Override theme defaults */
$base-font-family: 'Helvetica Neue', serif;
$background-color: #f2efde;

/* load _sass/minima.scss */
@import "minima";

/* Put any custom CSS here */
body {
    background-color: $background-color;
    font-family: $base-font-family;
  }



